@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Hff.CvApp.DTOs.Concrete.SocialMediaIconDtos.SocialMediaIconListDto>
<div class="social-icons">
    @foreach (var item in Model)
    {
<a class="social-icon" href="@item.Link"><i class="@item.Icon"></i></a>}

</div>