@model SocialMediaIconAddDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post">
    <div class="form-group">
        <label>Link</label>
        <span class="text-danger" asp-validation-for="@Model.Link"></span>
        <input class="form-control" asp-for="@Model.Link" />
    </div>
    <div class="form-group">
        <label>İkon</label>
        <span class="text-danger" asp-validation-for="@Model.Icon"></span>
        <input class="form-control" asp-for="@Model.Icon" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary">İkon Ekle</button>
    </div>
</form>