@model List<SkillListDto>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<table class="table table-hover table-striped table-sm">
    <tr>
        <th>Id</th>
        <th>Yetenek</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Description</td>
            <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Sil</a></td>
            <td><a asp-action="Update" asp-route-id="@item.Id" class="btn btn-success btn-sm">Güncelle</a></td>
        </tr>
    }

</table>
<br />
<a asp-action="Insert" class="btn btn-primary">Deneyim Ekle</a>