@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Hasan Furkan Fidan Kişisel Web Sitesi" />
    <meta name="author" content="Hasan Furkan Fidan" />
    <title>Hasan Furkan Fidan</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
<script src="~/font-awesome/js/all.js"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation-->
    @await Component.InvokeAsync("NavbarComponent")

  
    <!-- Page Content-->
    @await Component.InvokeAsync("AboutComponent")
    <hr class="m-0" />
    <!-- Experience-->
    @await Component.InvokeAsync("ExperienceComponent")
    <hr class="m-0" />
    <!-- Education-->
    @await Component.InvokeAsync("EducationComponent")

    <hr class="m-0" />
    <!-- Skills-->
    @await Component.InvokeAsync("SkillComponent")
    <hr class="m-0" />
    <!-- Awards-->
    @await Component.InvokeAsync("CertificationComponent")

    </div>
    <!-- Bootstrap core JS-->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="~/jquery-easing/jquery.easing.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
</body>
</html>
